<h2>User info</h2>

  <table class="table">
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Image</th>
      <form>
       <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
         <input type="file" class="form-control-file" id="exampleFormControlFile1">
       </div>
      </form>
      </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </table>
  <div class="row">
   <%= link_to "Update User", books_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
  </div>